base-xsd/niem/niem-core/4.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/4.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/4.0/ ../../utility/appinfo/4.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../utility/conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/4.0/#ReferenceSchemaDocument" xmlns:appinfo="http://release.niem.gov/niem/appinfo/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:iso_3166="http://release.niem.gov/niem/codes/iso_3166-1/4.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/4.0/">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../codes/iso_3166-1/4.0/iso_3166.xsd" namespace="http://release.niem.gov/niem/codes/iso_3166-1/4.0/"/>
  <xs:import schemaLocation="../../proxy/xsd/4.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/4.0/"/>
  <xs:import schemaLocation="../../utility/structures/4.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/4.0/"/>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationState" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:LocationCountry" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>A data type for a country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:CountryRepresentation" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>A data type for a paper or electronic document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:DocumentEffectiveDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:DocumentExpirationDate" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>A data type for geospatial location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:LocationAddressAbstract" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MetadataType">
    <xs:annotation>
      <xs:documentation>A data type for information that further qualifies primary data; data about data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:MetadataType">
        <xs:sequence>
          <xs:element ref="nc:ReportedDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:ReportingPersonText" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:OrganizationName" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PassportCategoryCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of passport.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Diplomat">
        <xs:annotation>
          <xs:documentation>Diplomat</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Individual">
        <xs:annotation>
          <xs:documentation>Individual</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Official">
        <xs:annotation>
          <xs:documentation>Official</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PassportCategoryCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a kind of passport.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:PassportCategoryCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PassportType">
    <xs:annotation>
      <xs:documentation>A data type for a government-issued document that authenticates the identity and citizenship of a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:DocumentType">
        <xs:sequence>
          <xs:element ref="nc:PassportNumberIdentification" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonBirthLocation" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PassportCategoryAbstract" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonCitizenshipAbstract" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PassportIssuingOrganization" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonSexAbstract" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PassportAugmentationPoint" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSurName" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StateType">
    <xs:annotation>
      <xs:documentation>A data type for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StateRepresentation" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Address" type="nc:AddressType" substitutionGroup="nc:LocationAddressAbstract">
    <xs:annotation>
      <xs:documentation>A postal location to which paper mail can be directed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CountryRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="niem-xs:date" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentEffectiveDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date in which the content or action becomes enforceable, active, or effective.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentExpirationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date after which the document is no longer valid. It may indicate a document should be removed from a registry or index.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationAddressAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a set of information, such as postal information, used to describe a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCountry" type="nc:CountryType" nillable="true">
    <xs:annotation>
      <xs:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCountryISO3166Alpha3Code" type="iso_3166:CountryAlpha3CodeType" substitutionGroup="nc:CountryRepresentation">
    <xs:annotation>
      <xs:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationState" type="nc:StateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Metadata" type="nc:MetadataType" nillable="true" appinfo:appliesToTypes="structures:ObjectType structures:AssociationType">
    <xs:annotation>
      <xs:documentation>Information that further qualifies primary data; data about data.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Passport" type="nc:PassportType" nillable="true">
    <xs:annotation>
      <xs:documentation>A government-issued document that authenticates the identity and citizenship of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PassportAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PassportType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PassportCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of passport.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PassportCategoryCode" type="nc:PassportCategoryCodeType" substitutionGroup="nc:PassportCategoryAbstract">
    <xs:annotation>
      <xs:documentation>A kind of passport.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PassportIssuingOrganization" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An organization that issued a passport.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PassportNumberIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a passport.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location where a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCitizenshipAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a country that assigns rights, duties, and privileges to a person because of the birth or naturalization of the person in that country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReportedDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date information was observed, measured, identified, or became known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReportingPersonText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name, identifier, or reference of a person who provided the information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateISO3166Code" type="iso_3166:CountrySubdivisionCodeType" substitutionGroup="nc:StateRepresentation">
    <xs:annotation>
      <xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
